body{
    background-color: rgb(236, 236, 236);
}
.maths{
    width: 100%;
    background-color: rgb(110, 0, 0);
    color: rgb(238, 238, 238);
    text-align: center;
}
.text{
    font-family: monospace;
}
.sub{
    margin-left: 5%;
}
.num {
    width: 7%;
}
.lis {
    list-style-type:none;
}
.eq {
    width: 20%;
}